## Chapter 11: Things to do

11.1 Then use the interactive interpreter to import the zoo module and call its hours() function.

In [7]:
import zoo

zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [8]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

## Chapter 16: Things to Do

16.3 Create a CSV file called books2.csv

In [20]:
text = '''title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Mi√©ville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods, Terry Pratchett,1992'''

with open('books2.csv', 'wt') as outfile:
    outfile.write(text)

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author(text), and year (integer).

In [24]:
import sqlite3

db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year integer)''')

16.5 Read books2.csv and insert its data in the book table.

In [3]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
db = sqlite3.connect('books.db') # from 16.4
curs = db.cursor() # from 16.4
with open('books2.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

16.8 Use sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. Select and print the title column from the book table in alphabetical order.

In [4]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite://books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

ModuleNotFoundError: No module named 'sqlalchemy'